.card1{
    height: 580px;
    width: 480px;
    position: absolute;
    margin-top: 48px;
    margin-left: 52px;

    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 5px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.card2{
    height: 400px;
    width: 300px;
    background-color: rgba(60, 10, 95, 0.76);
    border-radius: 25px;
    box-shadow: 5px 0px 20px 10px rgba(0, 0, 0, 0.2);
   
}

.main{
    margin-left: 400px;
    padding-bottom: 100px;
    margin-top: 10px;
}

.card-container{
    padding: 35px 10px 20px 50px;
}

.head{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgba(30, 6, 48, 0.76);
}

.details{
    width:90%;
    height: 100px;;
    border: none;
    border-radius: 5px;
    background-color: rgba(23, 14, 77, 0.267);
    z-index: -5;
}

.timeline{
    width: 2px;
    height: 60px;
    background-color: rgba(23, 14, 77, 0.267);
    margin-top: 10px;
    margin-left: 20px;
    
}

.timeline::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(19, 11, 68);
    border-radius: 50%;
    margin-top: 40px;
    margin-left: -10px;
}