.main{
    background-color: rgba(190, 221, 221, 0.76);
}

.card1{
    height: 280px;
    width: 450px;
    position: absolute;
    margin-top: 47px;
    margin-left: 43px;

    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 5px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.card2{
    height: 280px;
    width: 450px;
    background-color: rgba(165, 78, 224, 0.76);
    border-radius: 25px;
    box-shadow: 5px 0px 20px 10px rgba(0, 0, 0, 0.2);
   
}

.card-container
{
   
    padding: 50px 10px 50px 80px;
}

.head{
    color:rgb(6, 6, 22);
    font-size: 30px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}



.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}



@media screen and (max-width: 600px){
    .card1{
        height: 220px;
        width: 300px;
        position: absolute;
        margin-top: 40px;
        margin-left: 30px;
    }
    .card2{
        height: 220px;
        width: 300px;
    }
    
}